:root {
  --black: black;
  --white: white;
  --gold: #ffd700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

/*Nav Bar*/

.navbar {
  background: var(--black);
  outline: solid;
  outline-color: var(--gold);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

#navbar__logo {
  background-color: var(--black);
  background-image: linear-gradient(to top, var(--gold) 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links{
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  transition: all 0.3s ease-in;
}

.navbar__links:hover {
  color: var(--gold);
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 1rem;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar__menu.active {
    background: var(--black);
    top: 100%;
    opacity: 1;
    transition: all 0.5 ease;
    z-index: 99;
    height: 70vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
  }
  .navbar__item{
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    positon: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}


/*Icons*/

.fa-microchip {
  margin-right: 0.5rem;
}

.fa-chart-column {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.fa-house {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.fa-folder-open {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.fa-github {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.fa-graduation-cap {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.fa-up-long {
  margin-left: 0.2rem;
  font-size: 1rem;
}


/* Home CSS*/

.mainHome {
  background-color: var(--white);
  min-width: 100%;
}

.mainHome__container {
  align-items: center;
  justify-self: center;
  margin: 0;
  height: 90vh;
  background-color: var(--white);
  z-index: 1;
  min-width: 100%;
  max-width: 5000px;
  max-height: 2300px;
  padding: 0 5px;
}

.mainHome__container { position: relative; }
.mainHome__container video {
  position:relative;
  z-index: -2;
}

.mainHome__content {
  position: relative;
  top: 3%;
  left: 0%;
  min-width: 100%;
  height:620px;
  z-index: 1;
}

#bg__video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.mainHome__content h1 {
  font-size: 4rem;
  background-color: var(--white);
  background-image: linear-gradient(to top, var(--gold) 20%, #ffb199 70%);
  background-size: 100%;
  padding-left: 30px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.mainHome__content h2 {
  font-size: 2rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, var(--white) 0%, var(--gold) 100%);
  background-size: 100;
  margin-left: 260px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.home__Buttons button{
  top: 20px;
  left: 15px;
  z-index: 2;
  font-size: 1rem;
  align-items: center;
  padding: 0px;
  width: 24%;
  height: 120px;
  margin: 0px;
  display: inline-block;
  background-image: linear-gradient(to top, var(--black) 0%, #686868 100%);
  color: var(--white);
  cursor: pointer;
  position: relative;
  outline: solid;
  outline-color: var(--gold);
  transform: skewX(-17deg);
  transition: 1.2s
}

#portfolioButton:hover + #portfolioInfo{
  opacity: 1;
}
#portfolioButton:hover{
  color: var(--gold)
}

#projectButton:hover + #projectInfo{
  opacity: 1;
}
#projectButton:hover{
  color: var(--gold)
}

#dscButton:hover + #dscInfo{
  opacity: 1;
}

#dscButton:hover{
  color: var(--gold)
}

#ghButton:hover + #ghInfo{
  opacity: 1;
}
#ghButton:hover{
  color: var(--gold)
}

.infoCard {
  position: absolute;
  top:320px;
  width: 100%;
  height: 60%;
  background: linear-gradient(0deg, var(--black), #272727);
  opacity:0;
}

.infoCard:before, .infoCard:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, var(--gold), var(--black), var(--gold), var(--black), var(--gold), var(--black), var(--gold), var(--black));
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 40s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.infoCard:after {
	filter: blur(15px);
}

.infoCard h1{
  padding: 10px;
  font-size: 3.5rem;
  background-image: linear-gradient(to top, var(--white) 0%,var(--white) 100%);
}

.infoCard h2{
  padding: 10px;
  display: inline-block;
  width: 45%;
  margin-left: 0;
  margin-top: 20px;
  font-size: 1.5rem;
  background-image: linear-gradient(to top, var(--white) 0%,var(--white) 100%);
}

.infoCard img{
  display: inline-block;
  width: 45%;
  height:50%;
}

/*Main Basic Stucture*/

.main {
  background-color: var(--white);
}

.main__container {
  align-items: flex-start;
  justify-self: center;
  margin: 0;
  height: 90vh;
  background-color: var(--white);
  z-index: 1;
  width: 100%;
  max-width: 5000px;
  padding: 0;
}

.main__container { position: relative; }
.main__container video {
  position:relative;
  z-index: 0;
}

.main__container h1 {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--white);
}

.main__container h2 {

  padding-top: 50px;
  padding-bottom: 20px;
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}

.main__container p {
  margin-left: 2rem;
  padding-bottom: 20px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
}

.main__content {
  z-index: 2;
  background-color: var(--black);
  opacity: 0.9;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 20px;
  position: relative;
  outline: solid;
  outline-color:var(--gold);
}

.intro h1 {
  text-align: center;
  margin-top: 2rem;
  padding: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--white);
}

.intro h2 {
  text-align: center;
  margin-top: 1rem;
  padding: 10px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}

.intro p {
  text-align: center;
  padding: 0px 20px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
}

.indexLinks p{
  margin: 2.7%;
  font-size: 0.8rem;
  display:inline-flex;
  text-decoration: none;
  color: var(--white);
}

.indexLinks a{
  margin-left: 4.5%;
  margin-bottom: 20px;
  font-size: 0.8rem;
  display:inline-flex;
  text-decoration: none;
  color: #04d9ff;
}

.indexLinks a:link { text-decoration: none; }
.indexLinks a:visited { text-decoration: none; }
.indexLinks a:hover {
    cursor: pointer;
    color: var(--gold);
    text-decoration: underline overline;
    transform: translate(0%, -20%) scale(1.2);
    transition: all 0.2s ease-in;
  }

.top {
  --offset: 20%;
  position: sticky;
  bottom: 20px;
  margin-right: 20px;
  float:right;
  margin-top: calc(100vh + var(--offset));
  text-decoration: none;
  padding: 10px;
  color: var(--black);
  background: var(--gold);
  border-radius: 100px;
  white-space: nowrap;
  z-index: 2
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  background-color:var(--black);
  opacity: 0.8;
  position: sticky;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  z-index: 2;
  cursor: pointer;
  position: absolute;
  top: 62%;
  width: auto;
  padding: 8px;
  margin: 0px 10px;
  color: var(--gold);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#slideInfoCard {
  width:99%;
  height: 100%;
  opacity: 1;
  top: 0;
  margin-left: 0.5%;
  display: inline-block;
}

#slideInfoCard h1{
  background-image: none;
  background-color: inherit;
}

#slideInfoCard h2{
  background-image: none;
  background-color: inherit;
}

#slideInfoCard p{
  background-image: none;
  background-color: inherit;
}


/* Charts */
.chart{
  z-index: 3;
  margin: 10px;
  padding: 15px;
}

.slideTable{
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 0;
  grid-row-gap: 0px;
}

@media only screen and (min-width: 950px) {
  .slideTable {
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    grid-row-gap: 40px;
    margin-right: 25px;
}}

.group{
  margin: 20px 50px;
  background-image: linear-gradient(to top, var(--black) 0%, var(--gold) 50%);
  outline: solid;
  border-style: double;
  border-width: thick;
  border-radius: 15px;
  outline-width: thin;
  border-color: var(--black);
  outline-color: var(--gold);
  align-items: center;
}

.group h2 {
  color: var(--black);
}
